header.page-header {
    /*background: no-repeat left/cover url(/media/examples/puppy-header-logo.jpg);*/
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: #c7c7c7;
    text-shadow: #000 0 0 .2em;
}

header.page-header > h1 {
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
    fantasy;
    margin: 2%;
    color: #f6f6f6;
}

main {
    font: 1rem 'Fira Sans', sans-serif;
}

.vertical-menu {
    width: 250px; /* Set a width if you like */
    float: left;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #878787; /* Add a green color to the "active/current" link */
    color: white;
}

/*table {*/
/*    border-collapse: collapse;*/
/*    border-spacing: 0;*/
/*    width: 60%;*/
/*    border: 1px solid #ddd;*/
/*}*/

/*th, td {*/
/*    text-align: left;*/
/*    padding: 16px;*/
/*}*/

/*tr.tblrow:nth-child(even) {*/
/*    background-color: #f2f2f2;*/
/*}*/

/*tr.tblrow:hover {*/
/*    background-color: #ccc; !* Dark grey background on mouse-over *!*/
/*}*/
/*a:hover {*/
/*    background: #242424; !* Цвет фона под ссылкой *!*/
/*    color: #ffe; !* Цвет ссылки *!*/
/*}*/
