.container {
    overflow: hidden
}

.tab {
    float: left;
}

.tab-2 {
    margin-left: 50px
}

.tab-2 input {
    display: block;
    margin-bottom: 10px
}

.selected {
    background-color: red;
    font-weight: bold;
    color: #fff;
}

tr {
    cursor: pointer;
    transition: all .25s ease-in-out
}

tr.tblrow:hover {
    background-color: #0800ff;
    opacity: 0.4;
    /*font-weight: bold;*/
    /*cursor: pointer*/
    color: #fff;
}

tr.tblrow.selected:hover {
    background-color: red;
    opacity: 1;
    /*font-weight: bold;*/
    color: #fff;
}